.field{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Namefield{
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    border-radius: 10%;
    height: 200px;
    width: 400px;
    background-color: black;
}

.Namefield:focus {
    outline:none;
}

.magic {
    color: aliceblue;
    border-radius: 20px;
    border: none;
    margin-left: 47%;
    margin-top: 15px;
    background-color: black;
    height: 50px;
    width: 100px;
}

.magic:hover{
    background-color: blue;
}