*{
    box-sizing: border-box;
    margin: none;
    padding: none;

}

.card {
    height: 200px;
    width: 200px;
    background-color: black;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    border-radius: 10px;
    display: block;
    float: inline-start;
    margin-left: 9%;
    margin-bottom: 10%;
 }

 h5{
    margin-left: 10px;

 }